@import url('https://fonts.googleapis.com/css?family=Halant:300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-weight: 300;
}
.wrapper {
  min-height: 75vh;
  background: white;
}
h1 {
    font-family: 'Roboto', serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}

h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: black;
}

h4 {
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
}

h5 {
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
}

/* F O O T E R */

footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #D55050;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
}

footer a:hover, footer a:active {
  transition-duration: .6s;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

footer {
  position: relative;
  background-color: #CFE0E5;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  bottom: 0;
  font-weight: 200;
  padding: 10px;
  z-index: 0;
}

footer ul {
  padding-left: 10px;
  display: inline-block;
  list-style: none;
  margin-top: 10px;
}

footer p {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  font-weight: 200;
  z-index: 0;
}
#footer-copyright {
  font-size: 12px;
  color: grey;
}
.pull-left {
  text-align: left;
  margin-left: 0px;
}
.pull-right {
  text-align: right;
}

footer .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* N A V B A R */

nav a, nav a:focus, nav a:visited , nav a:active {
  color: white;
  text-decoration: none;
}

nav a:hover{
  transition-duration: .6s;
  background-color: transparent !important;
  color: black;
  opacity: 1;
  font-weight: 400;
  text-decoration: none;
}

nav img {
  margin-left: -15px;
  margin-right: 30px;
  margin-top: -8px;
}

.navbar {
  position: fixed;
  bottom: 0;
  top: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #D55050;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  z-index: 20;
  font-size: 16px;
}
p.navCity {
  color: #B6CCD4;
  padding-left: 20px;
}
a.cityLink:hover, p.navCity:hover {
  transition-duration: .6s;
  text-decoration: none;
  color: black;
}
.glyphicon {
  margin-right: 8px;
}
.icon-bar {
  background-color: black;
}
.dropdown-menu {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0px 0px 0px !important;
  box-shadow: 0px 0px 0px !important;
}
a.dropdown-toggle {
  color: white;
  background-color: #D55050 !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  transition-duration: .6s;
  border: 0;
  background-color: #D55050 !important;
  color: white !important;
}
.navbar-collapse {
  background-color: #D55050 !important;
}
.navbar-collapse > .navCity:hover {
  transition-duration: .6s;
  color: white !important;
}

.log:hover {
  transition-duration: .6s;
  border-bottom: 1px solid black;
}

/* F O R M S */

.btn-primary, .btn-primary:focus, .btn-primary:visited {
  border-radius: 0;
  border: 0;
  background-color: #D55050;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}
.btn-primary:hover {
  transition-duration: .6s;
  background-color: black;
}
.btn-primary:active {
  background-color: white;
  color: black;
}
.btn-default{
  background-color: #CFE0E5;
  border: 0;
  border-radius: 0;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 20px;
}
.btn-warning{
  margin-top: 20px;
  margin-left: 10px;
  border: 0;
  border-radius: 0;
  font-weight: 200;
  letter-spacing: 2px;
}
.form-group {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border: 0px white solid;
  margin-bottom: 50px;
  z-index: 50;
}
.form-control {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid lightgrey;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
}
.form-control:focus {
  background-color: #e6eef1;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
  border-bottom: 1px solid lightgrey;
}
.formheader {
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px black solid;
  width: 100%;
}

/* V I D E O   H E R O */
.hero {
  height: 90vh;
  text-align: center;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('./images/Shibuya.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
#welcometext {
  max-width: 450px;
  margin-top: 30vh;
  display: inline-block;
  bottom: -100;
  background: rgba(0,0,0,0.3);
  color: white;
  width: 80%;
  padding: 10px;
}
#welcometext h1{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  color: white;
}
#welcometext p {
  font-size: 16px;
}

/*   I D S   */
#userName {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: white;
}

/* C I T I E S */
div.citiesGrid {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 80px;
  margin: auto;
  text-align: left;
}
div.citiesGrid .row {
  height: 50vh;
}
div.cityCard {
  padding: 0;
  margin:0;
}
.citiesGrid h1 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 32px;
}
.cityCard img {
  width: 100%;
  object-fit: cover;
  padding: 5px;
  margin: 0;
}
.cityCard img:hover {
  transition-duration: .8s;
  opacity: .8;
}
.cityCard h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
  color: black;
}
.cityCardName {
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  color: white;
  width: 70%;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
  top: 40%;
  right: 15%;
  padding: 10px;
  z-index: 10;
  border: 1px black;
  font-size: 14px;
}
.cityCardName:hover {
  transition-duration: .8s;
  width: 90%;
  right: 5%;
}

/* P L A C E S */
h1.cityTitle {
  display: inline-block;
  margin-top: 130px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 32px;
  padding-left: 15px;
}
.placeImage {
  width: 100%;
  padding-bottom: 20px;
}
.placeName {
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 1px;
}
.placeCard .row {
  margin-bottom: 50px;
}
.placeInfo a {
  padding: 5px;
  border: 1px solid lightgrey;
  color: black;
}
.placeInfo a:hover {
  transition-duration: .5s;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid black;
}
.placeCity {
  padding-bottom: 15px;
}
.placeDate {
  font-weight: 200;
  margin-bottom: 25px;
}
.showPlace {
  display: inline-block;
  margin-top: 120px;
}
.placeUser {
  font-style: italic;
}
